<form method="post" action="/questions">
  <input type="text" name="question[title]" placeholder="title">
  <input type="text" name="question[content]" placeholder="content">
  <input type="submit" value="submit new question">
</form>
