  <form action='/users/new' method='post'>
  	Username: <input type="text" name="username" placeholder="username"><br>
    Email: <input type="email" name="email" placeholder="email"><br>
    Password: <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="submit">
  </form>