<% if session[:user_id] %>
      <a href="/">Home</a></li>
      <a href="/sessions/delete">Logout</a></li>
      <a href="/users/<%= session[:user_id] %>"><%=  "#{current_user.username}".capitalize%></a></li>
<% else %>
      <a href="/sessions/new">Login</a></li>
      <a href="/users/new">Register</a></li>
<% end %>

<%= yield %>
